{% extends 'base.html' %}
{% block content %}

    <div class="card">
        <div class="card-header">
            {{ client_info.first_name }} {{ client_info.last_name }} 
        </div>
        <div class="card-body">
            <p class="card-text">     
                <strong>Client ID:</strong> {{ client_info.id }}<br>
                <strong>Date Created:</strong> {{ client_info.created_at }}<br>
                <strong>Email:</strong> {{ client_info.email }}<br>
                <strong>Phone:</strong> {{ client_info.phone }}<br>
                <strong>City:</strong> {{ client_info.city }}<br>
                <strong>State:</strong> {{ client_info.state }}<br>
                <strong>Zipcode:</strong> {{ client_info.zipcode }}<br>
            </p>
        </div>
    </div>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back Home</a>
    <a href="{% url 'delete_client' client_info.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'update_client_info' client_info.id %}" class="btn btn-secondary">Update</a>


{% endblock %}